
<template name="header">
	<nav class="light-blue">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">{{currentPage}}</a>
				<a href="#" data-activates="side-menu" class="button-collapse show-on-large">
					<i class="mdi-navigation-menu"></i>
				</a>

				{{#if needSubmit}}
					<a href="{{ pathFor 'itemSubmit' }}" class="right">
						<i class="mdi-content-add" style="font-size: 3em;"></i>
					</a>
				{{/if}}

				<ul class="side-nav" id="side-menu">
					{{#if currentUser}}
						<li><a href="{{ pathFor 'itemsDash' }}">Dashboard</a></li>
						<li><a id="logout-submit" href="#">Logout</a></li>
					{{else}}
						<li><a href="{{ pathFor 'home' }}">Home</a></li>
						<li><a href="{{ pathFor 'link1' }}">link 1</a></li>
						<li><a href="{{ pathFor 'link2' }}">link 2</a></li>
						<li><a href="{{ pathFor 'link3' }}">link 3</a></li>
						<li><a href="{{ pathFor 'login' }}">Login</a></li>
						<li><a href="{{ pathFor 'register' }}">Register</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
</template>